.header__main {
  background-color: var(--primary);
  padding-top: 3.2rem;
  color: var(--light);
  overflow: hidden;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__patterns {
  display: none;
  position: relative;
  width: 100%;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 6.4rem;
  padding-bottom: 10.6rem;
}

.header__bottom {
  height: 5rem;
  width: 100%;
  background-color: var(--primary);
  border-radius: 0 0 100% 100%;
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, .25);
  margin-top: -.1rem;
}

.header__title {
  margin-bottom: 4rem;
}

.header__image-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 15.5rem;
  background-color: var(--ghost);
}

.header__image {
  position: absolute;
  bottom: 6rem;
  width: 32rem;
}

.benefits{
  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: var(--ghost);
}

.benefits-item{
  margin-bottom: 4rem;
}

.benefits-item__numer{
  display: flex;
  justify-content: center;  
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: Fraunces;
  border: .1rem solid var(--primary);
  border-radius: 50%;
  width: 4.8rem;
  height: 4.6rem;
  margin: 0 auto 2.4rem auto;
}

.benefits-item__title{
  margin-bottom: 1.6rem;
}

.benefits__bottom{
  height: 3rem;
  width: 100%;
  background-color: var(--ghost);
  border-radius: 0 0 100% 100%;
  margin-top: -.1rem;

}

@media (min-width: 768px) {
  .header__patterns {
    display: block;
  }

  .header__pattern-1 {
    position: absolute;
    top: 6rem;
    left: -22rem;
  }

  .header__pattern-2 {
    position: absolute;
    top: 22rem;
    right: -10rem;
  }
  .header__content {
    padding-bottom: 18rem;
  }
  .header__title {
    max-width: 56rem;
  }
  .header__image {
    width: 51.4rem;
    bottom: 0rem;
  }

  .benefits-item{
    display: flex;
    align-items: center;
    text-align: left;
  }
  .benefits-item__numer{
    margin: 0;
  }
  .benefits-item__content{
    margin-left: 3.2rem;
  }
}

@media (min-width: 1440px) {
  .header__pattern-1 {
    left: -12rem;
  }

  .header__pattern-2 {
    right: -6rem;
  }
  .header__content {
    padding-bottom: 25.5rem;
  }

  .header__title {
    max-width: 64rem;
  }
  .header__image {
    width: 76.7rem;
    bottom: 2.5rem;
  }
  .header__image-container {
    min-height: 20rem;
  }
  .benefits{
    flex-direction: row;
   
  }
  .benefits-item{
    flex-direction: column;
    text-align: center;

  }

  .benefits-item__numer{
    margin-bottom: 5.6rem;
  }

  .benefits-item__title{
    margin-bottom: 2.8rem;
  }

  .benefits-item__content{
    margin: 0;
  }
}
